.left-side {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;

  .valorant {
    width: 400px;
    height: 61px;
    margin-bottom: 60px;
  }

  .chars {
    display: flex;
    gap: 10px;

    .char {
      position: relative;
      width: 170px;
      height: 170px;
      font-family: 'Open sans', sans-serif;
      color: white;
      color: #FFF;
      text-align: center;
      font-size: 20px;
      font-weight: 600;
      margin-left: 10px;
      border: #FFF 1px solid;


      &::before {
        position: absolute;
        content: "";
        width: 170px;
        height: 170px;
        background-color: transparent;
        border: 1px #FFF solid;
        top: -9px;
        left: -9px;
        z-index: -1;
      }

      h2 {
        margin-top: 10px;
      }
    }
    .char img {
      background-color: #FF4655;
    }

  }
}